@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&family=Poppins:wght@400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
section {
    padding: 50px;
}
/*
font-family: 'Noto Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/
header {
    background: linear-gradient(90.1deg, #0072F5 0%, #01B1FE 100%);
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0 50px;
}
.header-img {
    padding-right: 50px;
}
.navbar {
    display: flex;
    align-items: center;
}
.nav-list {
    display: flex;
    gap: 50px;
}
.nav-list .list {
    position: relative;
    padding: 5px 0 5px 0;
    font-weight: 500;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    overflow: hidden;
}
.nav-list .list:hover {
    color: gold;
}
.navbar ul a::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 50px;
    background-color: gold;
    bottom: 0;
    transform: translateX(110px);
    opacity: 0;
    transition: all 0.3s cubic-bezier(.55,0,.1,1);
}
.navbar ul a:hover::before {
    transform: translateX(0px);
    opacity: 1;
    width: 30px;
}

.button {
    background-color: white;
    color: #0072F5;
    text-transform: uppercase;
    margin-left: 100px;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #0072F5;
    width: max-content;
}
.home-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 200px 0;
}
.hero {
    padding-top: 50px;
    max-width: 565px;
    font-family: 'Noto Sans', sans-serif;
}
.hero h1 {
    background: linear-gradient(182.61deg, #000000 10.67%, #01B1FE 82.61%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    line-height: 45px;
}
.hero p {
    color: #AAAAAA;
    padding: 20px 0;
}
.hero-img {
    max-width: 100%;
    height: auto;
}
.btn-button {
    display: none;
}
#feature-section {
    padding-top: 100px;
    background: linear-gradient(153.74deg, #EAF0F6 0%, #FFFFFF 100%);
}


/*Responsive Quary*/
@media only screen and (max-width: 992px) {
    .home-wrapper {
        flex-wrap: wrap;
    }
}
@media (max-width: 800px) {
    .home-wrapper {
        padding: 50px 0 50px 0;
    }
    .button {
        display: none;
    }
    .btn-button {
        display:block; 
        margin: 0 auto;
        background: linear-gradient(90.1deg, #0072F5 0%, #01B1FE 100%);
        color: white;
        text-transform: uppercase;
        font-weight: 600;
        padding: 15px;
        border-style: none;
        border-radius: 10px;
        width: max-content;
    }
}
@media (max-width: 600px) {
    .logo {
        background: linear-gradient(90.1deg, #0072F5 0%, #01B1FE 100%);
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        border: 1px solid #0072F5;
    }
    .header-img {
        display: block;
        margin: 0 auto;
        padding-right: unset;
    }
    header {
        all: unset;
    }
    .navbar {
        background-color: black;
        justify-content: center;
        height: 50px;
    }
    section {
        padding: 25px;
    }
    .home-wrapper {
        padding: 25px 0 100px 0;
    }
    .hero h1 {
        font-size: 25px;
        line-height: 25px;
    }
    .hero p {
        padding: 10px 0;
    }
}
@media (max-width: 350px) {
    .header-img {
        height: 40px;
    }
    .nav-list {
        gap: 25px;
    }
}
