@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&family=Poppins:wght@400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
/*
font-family: 'Noto Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/
header {
    background: linear-gradient(90.1deg, #0072F5 0%, #01B1FE 100%);
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0 100px;
}
.navbar {
    display: flex;
    align-items: center;
}
.nav-list {
    display: flex;
    gap: 50px;
}
.nav-list a {
    font-weight: 500;
    color: white;
    font-family: 'Noto Sans', sans-serif;
}
.button {
    background-color: white;
    color: #0072F5;
    text-transform: uppercase;
    margin-left: 100px;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #0072F5;
}
.section-wrapper {
    padding: 100px 100px 0 100px;
}
.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.hero {
    padding-top: 50px;
    max-width: 565px;
    font-family: 'Noto Sans', sans-serif;
}
.hero h1 {
    background: linear-gradient(182.61deg, #000000 10.67%, #01B1FE 82.61%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    line-height: 45px;
}
.hero p {
    color: #AAAAAA;
    padding-top: 20px;
}